:root {
  --white: #fff;
  --black: #000;
  --brown: #a0a0a0;
  --main-fonts:  "League Spartan", "Arial", sans-serif;
}


/* FONT-FACE */
@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Medium.woff2") format("woff2"),
    url("../fonts/LeagueSpartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Bold.woff2") format("woff2"),
    url("../fonts/LeagueSpartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-SemiBold.woff2") format("woff2"),
    url("../fonts/LeagueSpartan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-fonts);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.33px;
  background-color: var(--white);
  color: var(--brown);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
} */


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.layout-container {
  display: flex;
}


/* SITENAV */
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sitenav__item:not(:last-child) {
  margin-right: 31px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.67px;
}

.sitenav__link:hover::after {
  display: block;
}

.sitenav__link::after {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  content: "";
}


/* LOGO */
.logo {
  display: flex;
  width: 62px;
  height: 13px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 62px;
  height: 13px;
  color: var(--white);
  object-fit: contain;
}


/* BUTTON */
.button {
  display: flex;
  width: 245px;
  padding: 0;
  border: 0;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  color: var(--brown);
}

.button__text {
  margin-right: 30px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 12.5px;
  font-weight: 500;
  text-transform: uppercase;
}


/* TOGGLER */
.header__sitenav-toggler {
  display: none;
}


/* SLIDE */
.slide__content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 26px;
}

.slide__heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 47px;
  line-height: normal;
  font-weight: 600;
  letter-spacing: -2px;
  color: var(--black);
}

.slide__text {
  margin-top: 0;
}


/* SLIDER-CONTROLS */
.slider-controls {
  display: flex;
}

.slider-controls__button {
  width: 80px;
  height: 80px;
  padding: 0;
  background-color: var(--black);
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-controls__button:hover {
  background-color: #444;
}

.slider-controls__icon {
  width: 12px;
  height: 24px;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* HEADER */
.header {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 840px;
  height: auto;
  min-height: 534px;
  padding: 56px 64px 478px;
  background-image: url(../img/white-chairs-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.header__content {
  display: flex;
}

.header__logo-wrapper {
  width: 62px;
  height: 13px;
  padding-top: 8px;
  margin-right: 57px;
}


/* HERO */
.hero {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.hero__slide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 120px;
  left: 100px;
  transition: opacity 0.5s ease;
}

.hero__slide--active {
  opacity: 1;
  visibility: visible;
}

.hero__slider-controls {
  position: absolute;
  left: 0;
  bottom: 0;
}


/* ABOUT */
.about__container {
  display: flex;
}

.about__img-right {
  width: 420px;
  height: 266px;
}

.about__content {
  width: 100%;
  max-width: 580px;
  padding: 68px 48px 30px;
}

.about__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 6.67px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
}

.about__text {
  margin: 0;
}

.about__img-left {
  width: 420px;
  height: 266px;
}


/* RETINA */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .header {
    background-image: url(../img/white-chairs-bg@2x.jpg);
  }
}


/* MAX-WIDTH-1300 */
@media only screen and (max-width: 1300px) {
  .layout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* hero */
  .hero {
    width: 100%;
    max-width: 840px;
    margin-bottom: 410px;
  }

  .hero__slide {
    left: 0;
    top: 80px;
    padding: 0 50px;
  }

  .slide__content {
    max-width: 800px;
  }

  .hero__slider-controls {
    top: -80px;
  }


  /* about */
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__img-right {
    width: 800px;
    height: 500px;
  }

  .about__content {
    max-width: 800px;
  }

  .about__img-left {
    width: 800px;
    height: 500px;
  }
}


/* MAX-WIDTH-950 */
@media only screen and (max-width: 950px) {
  /* hero */
  .hero__slider-controls{
    padding-right: 20px;
  }

  .about__img-right {
    width:600px;
    height: 350px;
  }

  .about__content {
    max-width: 600px;
  }

  .about__img-left {
    width:600px;
    height: 350px;
  }
}


/* MAX-WIDTH-630 */
@media only screen and (max-width: 630px) {
  .slide__heading {
    font-size: 40px;
    letter-spacing: -1.67px;
  }


  .hero__slider-controls {
    top: -70px;
  }
  .slider-controls__button {
    width: 70px;
    height: 70px;
}
}


/* MAX-WIDTH-530 */
@media only screen and (max-width: 530px) {
  /* header */
  .header {
    position: relative;
    z-index: 1;
  }

  .header--open {
    z-index: 999;
    width: 100%;
    padding: 0 0 478px;
  }

  .header__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .header--open  .header__content {
    width: 100%;
    max-width: 500px;
    padding: 56px 24px 150px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .header__logo-wrapper {
    padding-top: 0;
    margin-right: 0;
  }

  .header--open .logo__img {
    color: #444;
  }

  .header__sitenav-toggler {
    position: absolute;
    left: 24px;
    top: 56px;
    display:  inline-block;
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  .header__sitenav-toggler[aria-expanded="true"] .menu-icon {
    display: none;
  }

  .header__sitenav-toggler[aria-expanded="true"] .close-icon {
    display: block;
  }

  .menu-icon {
    display: flex;
    width: 20px;
    height: 14px;
    color: var(--white);
  }

  .close-icon {
    display: none;
    width: 20px;
    height: 14px;
    stroke: var(--brown);
    stroke-width: 2;
  }

  .header__sitenav {
    display: none;
  }

  .header--open .header__sitenav {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 85px;
    width: 100%;
    display: block;
    padding-left: 24px;
  }


  /* sitenav */
  .sitenav__list {
    flex-direction: column;
  }

  .sitenav__link:hover::after {
    display: none;
  }

  .sitenav__link:hover {
    opacity: 0.6;
  }

  .sitenav__link:active {
    opacity: 0.4;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 0;
  }

  .sitenav__link {
    color: var(--black);
  }


  /* hero */
  .hero__slide {
    top: 70px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .hero__slider-controls {
    z-index: 999;
  }

  .button__text {
    margin-right: 12px;
    letter-spacing: 7px;
  }


  /* about */
  .about__img-right {
    width: 420px;
    height: 266px;
  }

  .about__content {
    max-width: 420px;
  }

  .about__img-left {
    width: 420px;
    height: 266px;
  }
}


/* MAX-WIDTH-430 */
@media only screen and (max-width: 430px) {
  .hero__slide {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slide__heading {
    font-size: 35px;
  }
}


/* MAX-WIDTH-330 */
@media only screen and (max-width: 330px) {
  .hero__slide {
    top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slide__heading {
    font-size: 30px;
  }
}
